#productList > li {
    padding: 0.5rem;
    width: 15rem;
    height: 20rem;
    list-style-type: none;
    border: 0.1rem solid var(--clr-secondary);
    border-radius: 0.5rem;

    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

#productList > li > :nth-child(2) {
    height: 2rlh;
}

#productList > li > a {
    display: grid;
    place-items: center;
    height: 3rem;
    width: 6rem;
    background-color: var(--clr-secondary);
    color: var(--clr-primary);
    border-radius: 0.5rem;
    border: none;
    outline: 0.1rem solid var(--clr-secondary);
    text-decoration: none;
}

#productList > li > a:hover {
    background-color: var(--clr-primary);
    color: var(--clr-secondary);
    cursor: pointer;
}