header {
    display: flex;
    justify-content: space-between;
    border-bottom: 0.5rem solid #f2f2f2;
}

header > div {
    font-weight: bolder;
}

header > nav {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(auto-fill, minmax(min-content, 1fr));
    gap: 1rem;
}

header > nav > button {
    text-align: center;
    white-space: nowrap;
    padding: 0.5rem;
}

button {
    text-align: center;
}